body {
  background: #f7f7f7;
}

img {
  width: 100%;
  height: 220px;
}

.right {
  float: right;
}

.box {
  width: 50%;
}

.chickens_box {
  margin-top: 10px;
}

.card-title {
  font-size: 20px !important;
}
